body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  min-width: 790px;

}
img {
  width: 200px;
}

#pic {
  margin-top: 50px;
  align-items:center;
}

header {
  max-width: 800px;
  min-width: 790px;
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
}

header h4 {
  font-size: 22px;
  font-weight: bolder;
}
header a {
  color: #999;
  text-decoration: none;
 }



#edu {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
#edu h4 {
  font-size: 22px;
  font-weight: bolder;
}

#pro { 
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  border-bottom: 2px solid #999;
}

ul{
  margin-bottom: 30px;
}

#pro h4 {
  font-size: 22px;
  font-weight: bolder;

}
section .col-sm-10 {
  line-height: 1;
  
}

section .col-sm-2 {
  text-align: right;
}

footer {
  
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
 

  margin-bottom: 150px;
}

footer h4 {
  font-size: 22px;
  font-weight: bolder;
}

footer .col-sm-2 {
  text-align: center;
}
