body {
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
}
img {
  width: 200px;
}

#pic {
  margin-top: 50px;
  align-items:center;
}

header {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
}

header h4 {
  font-size: 24px;
  font-weight: bold;
}
header a {
  color: #999;
  text-decoration: none;
 }


#edu {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}

#pro { 
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  border-bottom: 2px solid #999;
}


section .col-sm-10 {
  line-height: 1;
  
}

section .col-sm-2 {
  text-align: right;
}

footer {
  margin-bottom: 150px;
}

footer .col-sm-2 {
  text-align: center;
}
